*{
  padding:0;
  margin:0;
  font-family:sans-serif;
}
body{
  background-color:#000000;
  display:flex;
  flex-direction:column;
  align-items:center ;
  justify-content:space-around ;
height:100vh;
}
h2{
  color:#fff;
  text-shadow: 0 0 10px #fff;
  font-size:40px;
}
@keyframes colorShift {
  0% {
    background-color: #ffffff; 
  }
  25% {
    background-color: #f2f2f2; 
  }
  50%{
    background-color: #e6e6e6; 
  }
  75% {
    background-color: #f9f9f9; 
  }
  100% {
    background-color: #ffffff; 
  }
}
.prompt {
  background-color:#fff;
  padding:5px;
  width:620px;
  border:3px solid black;
  border-radius:10px;
animation: colorShift 1ms linear infinite; 
}
input,button{
  padding:10px;
  border:none;
  font-size:20px;

}
input{
  background-color:black;
  width:75%;
  outline:none;
  color:#fff;
}
input::placeholder{
  color:darkwhite;
  
}
button{
  background-color:black;
  color:#fff;
  width:20%;
  cursor:pointer;
}
button:hover{
  background-color:#45464a;
}
.images{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}
.images div{
  height:200px;
  width:200px;
  border-radius:10px;
  border:3px solid #fff;
  background-color:#fff;
}
.images div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
});
  gap:10px;
}
.images div{
  height:200px;
  width:200px;
  border-radius:10px;
  border:3px solid #fff;
  background-color:#fff;
}
.images div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}